<html>
<head>
	<title><%=sess.name.split(' ')[0]%>'s Messages - Socialize</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<script src="/asi/socket.js"></script>
<script>
  var socket = io('http://localhost:8000');
    socket.emit('online', { email: '<%=sess.email%>'});
</script>
<link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
<style>
body
{
	overflow-x: hidden;
}

.conv
{
	padding: 15px;
	cursor: pointer;
	transition: background 0.3s;
}

.conv:not(.messaging):hover
{
	background:#EEE;
}

.conversations-heading
{
	
	background: #AAA ;
	height: 50px;
	padding: 15px;	
	text-align: center;
}

.img > *
{
	position: relative;
	border-radius: 50%;
	background: #21396A;
	width: 30px;
	height: 30px;
}

.online
{
	float: right;
	padding: 6px;
}

.online > *
{
	transform: scale(0.7); 
}

.start
{
	padding: 15px;
	cursor: pointer;
	transition: color 0.4s;
}

.start:hover
{
	color: #21967A;
}

.convo
{
	box-shadow: 1px 2px 10px 2px #CCC;
	margin-top: 2px;
	height: 100%;
	padding-right: 0px;
}

.start-friend
{
	padding: 10px;
	cursor: pointer;
}

.start-friend:not(.selected):hover
{
	background: #EEE;
}

.selected
{
	background-color: #2323AA;
	color: white;
	border: 0.5px solid #AAA;
}

.messaging
{
	background-color: blue;
	color: white;
}

.messages
{
	overflow-y: scroll;
	min-height: 300px;
	max-height: 400px;
}

.heading
{
	padding: 15px;
	font-size: 22px;
}

#message
{
	width: 100%;
	padding: 15px;
	font-size: 17px;
	font-family: "ABeeZee";
	min-height: 150px;
}

.snd
{
	float: right;
	margin-top: 10px;
}

.msg-left
{
	clear: both;
	float: left;
	padding: 15px;
	background: lightblue;
	margin-bottom: 5px;
	box-shadow: 1px 2x 10px 1px #EEE;
}

.msg-right
{
	clear: both;
	float: right;
	padding: 15px;
	background: lightgreen;
	margin-bottom: 5px;
	box-shadow: 1px 2px 10px 1px #EEE;
	margin-right: 10px;
}

::-webkit-scrollbar
{
	width: 8px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #AAA; 
    border-radius: 10px;
}
</style>
</head>
<body ng-app="social" ng-controller="control" >
	
	<header >
		
		<nav class="navbar navbar-expand-md bg-dark navbar-dark ">
			<a class="navbar-brand" href="#">Socialize</a>
			<ul class="navbar-nav ml-auto" style="margin-right: 50px">
				<li class="nav-item dropdown" style="margin-right: 15px">
					<a class="nav-link dropdown" data-toggle="dropdown" style="margin-top:4px" href="#"><i class="fa fa-bell"></i></a>
					<div class="dropdown-menu dropdown-menu-right" style="margin-top:6px">
					<ul class="nav nav-tabs nav-justified">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#reqs"><font color="#555"><i class="fa fa-handshake"></i></font></a>
						</li>
						<li class="nav-item">
							<a class="nav-link " data-toggle="tab" href="#mess"><font color="#555"><i class="fa fa fa-comments"></i></font></a>
						</li>
						<li class="nav-item">
							<a class="nav-link " data-toggle="tab" href="#notifs"><font color="#555"><i class="fa fa-map"></i></font></a>
						</li>
					</ul>
					<div class="tab-content">
					  <div class="tab-pane container active" id="reqs">
						 <div class="noreq" ng-if="user.friendreqrec.length==0">No pending friend requests.</div>
						 <br>
						<div class="req" ng-repeat="request in userreqs">
							<a href="#">{{request.name}}</a> wants to be friends <i class="fa fa-check" ng-click="acceptFriend(request)"></i><i class="fa fa-times"></i>
						</div>
					  </div>
					  <div class="tab-pane container fade" id="mess">
						<a href="#">Prakhar</a> wants to be Messaged <i class="fa fa-check"></i><i class="fa fa-times"></i>
					  </div>
					  <div class="tab-pane container fade" id="notifs">
						<a href="#">Prakhar</a> wants to be Notified <i class="fa fa-check"></i><i class="fa fa-times"></i>					  
					  </div>
					</div>
					</div>
				</li>
				 <li class="nav-item dropdown" >
					 <a class="nav-link dropdown" data-toggle="dropdown" href="#"><i class="fa fa-user"></i>&nbsp; <%= sess.name.split(' ')[0] %></a>
					<div class="dropdown-menu" style="margin-top:6px">
					<a class="dropdown-item" href="/profile">Profile</a>
					<a class="dropdown-item" href="#">Settings</a>
					<a class="dropdown-item" href="#">Logout</a>
					</div>	
				</li>
			</ul>
		</nav>
	</header>
	
	
	<div class="row">
		<div class="col-md-3 convo">
			<div class="conversations-heading">
				Conversations
			</div>
			<div class="start" data-toggle="modal" data-target="#myModal">
				<i class="fa fa-plus"></i> Start new Conversation
			</div>
			<div class="user-messages">
				<div class="conv" ng-repeat="conv in conversations" toggle-single-class="messaging" ng-click="converse(conv)">
						<span class="img"><img src="/images/all.png" height="100%" width="100%"></span>
						<span class="name">{{conv.name}}&nbsp;<i ng-if="conv.new">New!</i></span>
						<span class="online"><i class="fa fa-circle" ng-if="olfriend.indexOf(conv.user)!=-1" style="color:green"></i><i class="fa fa-circle" title="offline" style="color:#AAA" ng-if="olfriend.indexOf(conv.user)==-1" ></i></span>	
				</div>
			</div>
		</div>
		
		<div class="col-md-9">
			<div class="heading">
				<span class="img"><img src="/images/all.png" height="100%" width="100%"></span>
				<span class="name">{{messaging.name}}</span>
				<br><hr>
				<div class="messages">
					
					<div class="msg-display" ng-class="{'msg-left': message.sender!=user.email, 'msg-right': message.sender==user.email}" ng-repeat="message in messaging.messages track by $index">
						{{message.content}}	
					</div>
				</div>
				<div class="text">
					<textarea id="message"></textarea>
					<button class="btn btn-info snd" ng-click="sendMessage()">Send Message</button>
				</div>
			</div>
		</div>
	</div>
	
	{{olfriend}}
	<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Start a new Conversation</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="start-friend" toggle-class="selected" ng-repeat="friend in friendnames">
			<span class="img"><img src="/images/all.png" height="100%" width="100%"></span>
			<span class="name">{{friend.name}}</span>
			<span class="email" style="display:none"> {{friend.email}}</span>
        </div>
        <div class="noFriend" ng-if="friendnames.length==0">Kudos! You are already conversing with all of your Friends!</div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="startConvo()" >Start Conversation!</button>
      </div>

    </div>
  </div>
</div>
</body>
<script>
var app = angular.module("social", ['btford.socket-io']).factory('socket', function(socketFactory)
{
	return socketFactory();
});;

app.directive('toggleClass', function() {
    return {
        restrict: 'A',
        link: function(scope, element, attrs) {
            element.bind('click', function() {
                element.toggleClass(attrs.toggleClass);
            });
        }
    };
});

app.directive('toggleSingleClass', function() {
    return {
        restrict: 'A',
        link: function(scope, element, attrs) {
            element.bind('click', function() {
				$('.conv').removeClass(attrs.toggleSingleClass);
                $(element).addClass(attrs.toggleSingleClass);
                
            });
        }
    };
});

app.controller("control", function($scope, $http,socket, $timeout) {
	$scope.posts = [];
	$scope.user = null;
	$scope.userreqs = [];
	$scope.conversations = [];
	$scope.olfriend = [];
	$scope.friendnames = [];
	$scope.messaging = null;
	socket.on('newOnline', function(data)
	{
		if($scope.user.friends.indexOf(data.email)!=-1)
		{
			$scope.olfriend.push(data.email);
		}
	});
	
	socket.on('disconnected', function(data)
	{
		if($scope.olfriend.indexOf(data.email)!=-1)
		{
			$scope.olfriend.splice($scope.olfriend.indexOf(data.email), 1);
		}
	});
	
	socket.on('message', function(data)
	{
		if(data.reciever==$scope.user.email)
		{
			
				for(var i = 0; i < $scope.conversations.length; i++)
				{
					var conv = $scope.conversations[i];
					if(conv.user==data.message.sender)
					{
						conv.messages.push(data.message);
						if($scope.messaging != conv)
						{
							conv.new = true;
						}
						
		$timeout(function(){
			$($('.messages')[0]).scrollTop($(".messages")[0].scrollHeight);
		}, 20);
						break;
					}
				}
		}
	});
	
	$http.post("/getUser", {}).then(function(response)
	{
		$scope.user = response.data.user;
		$scope.userreqs= response.data.reqs;
		$scope.olfriend = response.data.olfr;
		$scope.friendnames = response.data.frnames;
		$http.post("/getConversations", {email: $scope.user.email}).then(function(response)
		{
			$scope.conversations = response.data;
			for(var i = 0; i < $scope.conversations.length; i++)
			{
				var convo = $scope.conversations[i];
				//console.log(convo.messages[convo.messages.length-1]);
				console.log( convo.messages[convo.messages.length-1].time + " and lr : " + convo.lastread);
				if(convo.messages[convo.messages.length-1].time <= convo.lastread)
					convo.new = false;
				else convo.new = true;
				for(var j = 0; j < $scope.friendnames.length; j++)
				{
					
					var ind = $scope.friendnames[j].name==convo.name;
					if(ind)
					{
						$scope.friendnames.splice(j,1);
					}
				}
			}
		});
	},function(response)
	{
		});
	$scope.acceptFriend = function(request)
	{
		$http.post("/acceptFriend", {email: request.email})
		.then(function(response)
		{
			$scope.user.friends.push(request.email);
			$scope.user.friendreqrec.splice($scope.user.friendreqrec.indexOf(request.email), 1);
			$scope.userreqs.splice($scope.userreqs.indexOf(request),1);
			$scope.user.friendreqsent.splice($scope.user.friendreqsent.indexOf(request.email), 1);
		},function(response)
		{
		});
	};
	
	$scope.converse = function(convo)
	{
		$scope.messaging = convo;
		var time = new Date();
		convo.lastread = time;
		convo.new = false;
		socket.emit('lastReadUpdate', {id: convo.id, updater: convo.userno,time: time});
		$timeout(function(){
			$($('.messages')[0]).scrollTop($(".messages")[0].scrollHeight);
		}, 20);
	};
	
	$scope.sendMessage = function()
	{
		var time = new Date();
		var message = {sender: $scope.user.email, content: $('#message').val(), time: time};
		socket.emit('lastReadUpdate', {id: $scope.messaging.id, updater: $scope.messaging.userno,time: time});
		$http.post("/sendMessage", {id: $scope.messaging.id, message: message, to: $scope.messaging.user.trim()})
		.then(function(response)
		{
			if(response.data.message == "Good")
			{
				$scope.messaging.messages.push(message);
				$('#message').val(' ');
		$timeout(function(){
			$($('.messages')[0]).scrollTop($(".messages")[0].scrollHeight);
		}, 20);
				
			}
			//else alert('Something went Wrong.');
		}, function(response)
		{
			 alert('Something went Wrong.');
		});
		
		//socket.emit('message', {id: $scope.messaging.id, message: message, to: $scope.messaging.user.trim()});
	};
	
	$scope.startConvo = function()
	{
		var friends = $('.selected');
		var convos = [];
		for(var i = 0; i < friends.length; i++)
		{
			var name = $(friends[i]).find('.name').text().trim();
			var email = $(friends[i]).find('.email').text().trim();
			var image = $(friends[i]).find('img').attr('src');
			convos.push({user1: $scope.user.email,name1: $scope.user.name, image1: $scope.user.image, user2: email, name2: name, image2: image, messages: [], user1lastread: new Date(), user2lastread: null});
			//console.log();
		}
		$http.post("/startConversations", {convos: convos, email: $scope.user.email}).then(function(response)
		{
			//console.log(response.data);
			if(response.data.message=="Good")
			{
				$scope.conversations = response.data.convos;
				for(var i = 0; i < $scope.conversations.length; i++)
				{
					var convo = $scope.conversations[i];
					for(var j = 0; j < $scope.friendnames.length; j++)
					{
						
						var ind = $scope.friendnames[j].name==convo.name;
						if(ind)
						{
							$scope.friendnames.splice(j,1);
						}
					}
				}
				$('.modal').modal('hide');
			}
			else alert('Some problem Occured. Please try again later.');
		},function(response)
		{
			 alert('Some problem Occured. Please try again later.');
		});
	};
	
	
	
	
});
$(document).ready(function()
{
	  // Add slideDown animation to Bootstrap dropdown when expanding.
  $('.dropdown').on('show.bs.dropdown', function() {
    $(this).find('.dropdown-menu').first().stop(true, true).slideDown();
  });

  // Add slideUp animation to Bootstrap dropdown when collapsing.
  $('.dropdown').on('hide.bs.dropdown', function() {
    $(this).find('.dropdown-menu').first().stop(true, true).slideUp();
  });
  $(document).on('click', '.dropdown-menu', function (e) {
  e.stopPropagation();
});

});
</script>

</html>

